 <p id="notice"> 
  <% if flash[:notice] %>
      <p class="flash">
        <%= flash[:notice] %>
      </p>
  <% end %>
 </p> 
<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'books/list', book: @book, user: @user %>
    </div>

   <div class="col-md-8 offset-md-1">
     <h2>Book detail</h2>
    <table>
     <tbody>
       <tr>
         <td>
           <%= attachment_image_tag @a.user, :profile_image,  :fill ,40 ,40 , fallback: "no_image.jpg" %>
           <%= link_to @user.name, user_path(@user.id) %>
         </td>
         <td>
           <%=link_to @a.title,book_path(@a) %>
         </td>
         <td>
           <%= @a.body %>
         </td>
         <td>
          <% if @a.user == current_user %>
          <%= link_to "edit", edit_book_path(@a.id), class:"btn btn-sm btn-success " %>
         </td>
         <td>
           <%= link_to "Delete", book_path(@a), method: :Destroy, "data-confirm" => "本当に削除しますか?", class:"btn btn-sm btn-danger" %>
         </td>
        <% end %>
       </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>