   <% if flash[:notice] %>
      <p class="flash">
        <%= flash[:notice] %>
      </p>
  <% end %>
  <p id="notice"> </p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= render 'books/list', book: @book, user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class="table table-hovew talbe-inverse">
         <tbody>
           <tr>
             <td>
               <%= link_to  user_path(@user.id) do %>
               <%=  attachment_image_tag @a.user, :profile_image,  :fill ,40 ,40 , fallback: "no_image.jpg",size:'40x40' %>
               <% end %>
               <%= link_to @user.name, user_path(@user.id), class: "d-block" %>
             </td>
             <td>
               <%=link_to @a.title,book_path(@a) %>
             </td>
             <td>
               <%= @a.body %>
             </td>
             <td>
               <% if @a.user == current_user %>
                 <%= link_to "edit", edit_book_path(@a.id), class:"btn btn-sm btn-success " %>
             </td>
             <td>
                 <%= link_to "Dstroy", book_path(@a), method: :delete, "data-confirm" => "本当に削除しますか?", class:"btn btn-sm btn-danger" %>
             </td>
        <% end %>
       </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>